baseUrl=https://{{ printf "node%d-%s" 0 .Values.clusterName }}:{{ .Values.properties.httpsPort }}
keystore={{ .Values.auth.SSL.keystorePath }}
keystoreType={{ .Values.auth.SSL.keystoreType }}
keystorePasswd={{ .Values.auth.SSL.keystorePasswd }}
keyPasswd={{ .Values.auth.SSL.keystorePasswd }}
truststore={{ .Values.auth.SSL.truststorePath }}
truststoreType={{ .Values.auth.SSL.truststoreType }}
truststorePasswd={{ .Values.auth.SSL.truststorePasswd }}
{{- if .Values.auth.ldap.enabled }}
proxiedEntity={{ .Values.auth.ldap.admin }}
{{- else if .Values.auth.oidc.enabled }}
proxiedEntity={{ .Values.auth.oidc.admin }}
{{- else }}
proxiedEntity={{ .Values.auth.admin }}
{{- end }}
